<div class="row">
    <div class="col-xs-12 col-sm-2 col-ml-2 col-lg-2">
        <img src="../../../assets/PERFIL.jpg"
        class="img-fluid">
    </div>
</div>
<div class="col-xs-12 col-sm-2 col-ml-2 col-lg-2">
    <p> Mara Daiana Luna</p>
    <p>Desarrollador Web Full Stack Jr.</p>
</div>

<div class="col-xs-12 col-sm-8 col-ml-8 col-lg-8">
    <span> 
        <h1> Acerca de mi</h1>
        <p> Developer inicial. Interesada en sumar experiencia
            Soy proactiva, me incentiva investigar, entender y aprender constantemente, habilidades que
            he descubierto con la programacion.
            Me gusta tener buena relacion con mis compañeros
            y trabajar en equipo es lo que me motiva.
            Acostumbrada a mis trabajos de oficina full-time, busco tener la libertad
            de trabajar freelance desde cualquier parte del mundo y poner en practica mis habilidades...

        </p>
    </span>
</div>